.searchbox-container {
  display: grid;
  width: 100%;
}

.searchbox-container input {
  width: 95%;
  font: inherit;
  border: 0;
  border-radius: 0.5rem;
  color: inherit;
  background-color: #ccc;
  padding: 6px;
}

.searchbox-container input:focus {
  outline: none;
}

@media screen and (max-width: 30em) {
  .searchbox-container {
    display: none;
  }
}
